
.maineee{
    margin: 5px;
    margin-top: 7vh;
    margin-bottom: 50px;
    
}


.footer-section {
    padding: 1px;
    display: flex;
    justify-content: space-between; /* Align children elements to the sides */
    padding-bottom: 10vh;
}

.heading{
    padding: 1px;
    margin: 1px;
    text-align: center;
    font-size: x-large;
    
}
.para{
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: large;
    
}
.about-meraki{
    /* padding-right: 100px; */
    padding-left: 10px;
    line-height: 25px;
    font-weight: 550;
}

/* ------------------------------------------------------ */



.footer-section-2 {
    margin-right: 10vw;
    text-align: start;
}

.important-link {
    font-size: x-large;
}

.links{
    font-size: large;
    font-weight: bold;
    font-weight: 500;
    color: black;
    line-height: 35px;
}
.links, li, a{
    color: black;
}

.last-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20 px;
}
.contact{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin-left: 5vw;
}
/* .contactLogo{
    margin-top: 30px;
    padding-left: 10px;
    font-size: 18px;

} */
.mail{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-left: 5vw;

}
.mailLogo{
    position: relative;
    bottom: 10px;
    padding: 5px;   
    font-size: 35px;
}
.address{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    position: absolute;
    left: 70vw;
    /* margin-top: 50px; */
}
.addressLogo{
    font-size: 35px;
}


/* =============================responsive for tablet */



@media (min-width:760px) and (max-width:900px) {

    .about-meraki{
        line-height: 25px;
        font-weight: 200;
        /* width: 45vw; */
        flex-grow: 1;
    }
    .para{
        text-align: center
    }
     .footer-section-2{
        margin-left: 30px;
        flex-shrink: 0;
        margin-right: 0;
        /* position: absolute; */
      
    }

     .links{
        line-height: 40px;
        text-align: start;
        
       
    }



    /* .heading{
        font-size: 1.2rem;
        width: 15rem;
    } */

   
   
    /* .last-section{
        position: relative;
        bottom: 70px;
        left:50vw;
    }
     */
     .address{
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        position: absolute;
        left: 55vw;
       
    }
}


@media (min-width:360px) and (max-width:440px) {
    .footer-section{
        flex-direction: column;
    }
    .about-meraki {
        line-height: 1.5;
        font-weight: 100;
        box-sizing: content-box;
        width: 100%; /* Ensure full width usage */
        height: auto;
        padding: 5px;
        
    }
    .heading{
        font-size: 1.2rem;
    }
    .para {
        font-size: 15px;
    }

    
    .footer-section-2{
        margin-top: 5vh;
    }
    .important-link{
        font-size: 20px;
    }

    .links{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        /* margin-left: 8vw; */
    }

    .contact{
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        margin-left: 2vw;
        font-size: 12px;
    }
    .mail{
        display: flex;
        font-size: 12px;
        margin-left: 1vw;
    
    }
    .mailLogo{
        position: relative;
        bottom: 10px;
        padding: 5px;   
        font-size: 30px;
    }
    .address{
        display: flex;
        position: absolute;
        font-size: 12px;
        left: 50vw;
    }
    .addressLogo{
        font-size: 20px;
    }
      

    
   
   
    
}