*{
    /* max-width: 100%; */
    /* max-height: 100%; */
    margin: 0;
    padding: 0;
    
}

.logo{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.logoImage{
    height: 110px;
    width: 100x;
    display: flex;
    justify-content: center;
    text-align: start;
}
.logoImage > p{
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.features{
    /* margin-right: 100px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* position: absolute; */
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bolder;
    text-align: start;

}
.HeadingButton{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* position: absolute; */
    /* margin-right: 40px; */
    margin-bottom: 25px;
    gap:2vw;
}
.aboutButton{
    background-color: rgb(56, 244, 50);
    cursor: pointer;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in;
}
.aboutButton:hover{
    background-color: rgb(52, 220, 50);
}

.headingMail{
    width: 60px;
    height: 60px;
    background-color: rgb(56, 244, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* ================================ Search ============================================== */
/* .headerSectionMain{
    background-color: aqua;
    max-width: 100%;
} */

.searchContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px ;
    margin-top: 40px;
    padding: 1px;
    font-size: larger;
    width: 100%;
    height: 60px
}

.inp-1 .ant-input, .inp-2 .ant-input, .inp-3 .ant-input {
    border: 1px solid black;
    border-radius: 1px;

}

.inp-1 .ant-input-search-button, .inp-2 .ant-input-search-button, .inp-3 .ant-input-search-button {
    border-radius: 1px;
    border: 2px solid black;
}
.btn{
    border: 1px solid black;
    background-color: rgb(221, 208, 32);
    border-radius: 14px;
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    right: 15px;
}
.headingMeraki{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}


/* ============================responsive========================== */

@media  (min-width:760px)and (max-width:980px){
    .logo{
        display: flex;
        /* background-color: aqua;
         */
        
    }
    .logoImage p{
        font-size: 0.8rem;
        /* margin-bottom: 20px; */
        margin-left: 1vw;
    }

    .logoImage{
        height: 15vh;
        width: 25vw;
        margin-top: 10px;
    }
    .features{
        font-size: 1.2rem;
        font-weight:bold;
        text-align: start;
        margin-top: 25px;
        margin-left: 2vw;
        


    }
    .HeadingButton{
        justify-content: end;
        margin-right: 15px;
        margin-bottom: 30px;
       
    }
    .aboutButton{
        background-color: rgb(244, 176, 50);
        cursor: pointer;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* font-weight: 500; */
        transition: 0.5s ease-in;
    }

    /* ********************* Search **************** */
    .searchContainer{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 140px;
        width: 500px;
        height: 5%;
    }
    .btn{
        width: 300px;
        margin-left: 5vw;
    }
    
}


/* ==================================for mobile devices=============== */

@media  (min-width:360px) and (max-width:440px){
  
    .logo{
            display: flex;
            
    }
    .logoImage{
        height: 15vw;
        width: 45vw;
        margin-top: 10px;
        /* margin-left: 1vw; */
    
    }
    .logoImage p{
        font-size: 11px;
        width: 25vw;
        /* margin-right: vw; */
        /* border: 2px solid black; */
    }
        
    
    .features{
        display: none;
        font-size: 10px;
        text-align: start;
        margin-top: 3vh;
        height: 15vh;
        width: 50vw;
        /* margin-right: 20px; */

    }

    .HeadingButton{
        /* justify-content: end; */
        align-items: start;
        width: 50vw;
        margin-top: 1vh;
        /* height: 10vh; */
        display: flex;
        justify-content: space-evenly;
       
    }
/* 
    .aboutButton{
        background-color: rgb(244, 176, 50);
        cursor: pointer;
        width: 10vw;
        height: 50px;
        border-radius: 20px;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: 0.5s ease-in;
    } */
        
   .aboutButton{
        width: 23vw;
        height: 6vh;
        font-size: 12px;
        margin-top: 0.5vh;
       
    }

    .headingMail{
        height: 13vw;
        width: 8vh;
    }

/* ============================Search===================== */

    .searchContainer{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 40px;
        width: 250px;
        height: 5%;
    }
    .btn{
        width: 150px;
        margin-left: 40px;
    }
    
}

    
    


